body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    perspective: 1000px;
    flex-direction: column;
}

.primeira-caixa {
    position: relative;
    width: 40%;
    height: 40%;
    border: 1px solid rgb(204, 204, 204);
    transform: rotateX(330deg) rotateZ(360deg);
    overflow: hidden;
}

.segunda-caixa {
    position: relative;
    width: 41%;
    height: 40%;
    border: 1px solid rgb(204, 204, 204);
    transform: rotateX(30deg) rotateZ(360deg) translate(0px, -16%);
}

.animated-letter {
    position: absolute;
    font-size: 2rem;
    transform-origin: 0px 0px;
    animation: 50s ease 10s infinite normal none running moveL3D;
}

.mestre-texto {
    display: flex;
    width: 100%;
    height: 100%;
    background: grey;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: flex-start;
}

.mestre-texto li {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0%;
}

.animated-text {
    font-size: 2rem;
    animation: moveText 10s infinite;
}

.bloco-animado {
    width: 100%;
    text-align: center;
    transform: rotate(90deg);
}

.bloco-animado p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: black 1px -8px 10px;
}

@keyframes moveL3D {
    0% {
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: translate3d(100px, 0px, 0px) rotateX(0deg) rotateY(45deg);
    }

    50% {
        transform: translate3d(100px, 100px, 0px) rotateX(45deg) rotateY(45deg);
    }

    75% {
        transform: translate3d(0px, 100px, 0px) rotateX(45deg) rotateY(0deg);
    }

    100% {
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
    }
}

@keyframes moveText {
    0%, 100% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(1000px);
        opacity: 0;
    }
    80% {
        transform: translateY(-200px);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    
}
